In [4]:
# data frame

import pandas as pd

data_list = [
    ['Plastik', 5, True],
    ['Kertas', 2, True],
    ['Logam', 3, True],
    ['Kaca', 4, False]
]

df_list = pd.DataFrame(data_list, columns=['Material', 'Jumlah', 'Status'])
df_list

  Material  Jumlah  Status
0  Plastik       5    True
1   Kertas       2    True
2    Logam       3    True
3     Kaca       4   False

In [8]:
# import numpy as np

data_mhs = np.array([[152023179, 'Fadilah', 'If'], 
                     [152023187, 'Hikam', 'If'], 
                     [152023199, 'Naura', 'If']])

df_list = pd.DataFrame(data_mhs, columns=['NIM','Nama','Jurusan'])
df_list

         NIM     Nama Jurusan
0  152023179  Fadilah      If
1  152023187    Hikam      If
2  152023199    Naura      If

In [29]:
# data frame dengan dictionary

data_kamus = {
    'Jenis':['Plastik','Kertas', 'Logam','Kaca'],
    'Berat (kg)':[5,2,3,4],
    'Daur ulang':[True,True,True,False]
}

df_kamus = pd.DataFrame(data_kamus)
df_kamus

     Jenis  Berat (kg)  Daur ulang
0  Plastik           5        True
1   Kertas           2        True
2    Logam           3        True
3     Kaca           4       False

In [20]:
# Mengakses dalam baris ke
a = df_kamus.loc[3,'Jenis']
b = df_kamus.iloc[1,0]
print(a)
print(b)

Kaca
Kertas

In [23]:
# <!-- menggunakan iterrows untuk mengiterasi setiap baris -->
for i, row in df_kamus.iterrows():
    print(f"perulangan ke {i+1} jenisnya adalah\n{row['Jenis']}")

perulangan ke 1 jenisnya adalah
Plastik
perulangan ke 2 jenisnya adalah
Kertas
perulangan ke 3 jenisnya adalah
Logam
perulangan ke 4 jenisnya adalah
Kaca

In [32]:
for i, row in df_kamus.iterrows():
    if row['Daur ulang'] == True:
        print(f"Yang bisa di daur ulang:{row['Jenis']}")

Yang bisa di daur ulang:Plastik
Yang bisa di daur ulang:Kertas
Yang bisa di daur ulang:Logam

In [12]:
# coba export
df_list.to_csv('coba_export_list.csv',index=False)
df_list.to_excel('coba_excel.xlsx',index=False)

In [16]:
import pandas as pd
# bisa baca file excel
df_excel = pd.read_excel('coba_excel.xlsx',sheet_name='Sheet1')
df_excel

         NIM     Nama Jurusan
0  152023179  Fadilah      If
1  152023187    Hikam      If
2  152023199    Naura      If

In [18]:
# untuk membaca hanya satu kolom
filter_df = df_excel['Jurusan']
filter_df

0    If
1    If
2    If
Name: Jurusan, dtype: object