In [11]:
# membuat dictionary kosong
kamusku = {}

# dictionary data awal
kamusku = {'Nama' : 'Dila','Usia' : 19,'kota' :  'Bandung Barat'} 
# menambahkan item yang ada di dictionary
kamusku['Status'] = 'Mahasiswa'
# memodifikasi item yang ada
kamusku['Usia'] = 20
# menghapus item
del kamusku['kota']


# nama_saya = kamusku['Nama']
# usia_saya = kamusku['Usia']
# tempat_tinggal = kamusku ['kota']
 
kamusku
# print(f'nama saya adalah {nama_saya} usia saya {usia_saya} saya tinggal di {tempat_tinggal}')

{'Nama': 'Dila', 'Usia': 20, 'Status': 'Mahasiswa'}

In [ ]:
# menggunakan pop untuk menghapus dan mendaptkan nilai dimasukkan ke variabel
kota = kamusku.pop('kota')
kota

In [12]:
# upadte dictionary
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
dict1.update(dict2)
dict1

{'a': 1, 'b': 3, 'c': 4}

In [17]:
kamusku = {'Nama' : 'Dila','Usia' : 19,'kota' :  'Bandung Barat'} 

for i in kamusku:
    print(i)

Nama
Usia
kota

In [18]:
# perulangan untuk  mengeluarkan output valuenya
kamusku1 = {'Nama' : 'Dila','Usia' : 19,'kota' :  'Bandung Barat'} 

for i in kamusku1.values():
    print(i)

Dila
19
Bandung Barat
Nama Dila
Usia 19
kota Bandung Barat

In [ ]:
# perulangan untuk  mengeluarkan output valuenya
kamusku1 = {'Nama' : 'Dila','Usia' : 19,'kota' :  'Bandung Barat'} 

for x,y in kamusku1.items():
    print(x,y)

In [21]:
# dictionary di dalam dictionary
dict_banyak = {
    'orang1' : {'nama' : 'Rizky', 'umur' : 20},
    'orang2' : {'nama' : 'Rahmad', 'umur' : 19}
}
nama = (dict_banyak['orang1']['nama'])
print(f"Nama orang 1 adalah {nama}")

Nama orang 1 adalah Rizky

In [22]:
# perulangan dictionary
for x, y in dict_banyak.items():
    print(f"id orang: {x}")
    print(f"nama: {y['nama']}")
    print(f"umur: {y['umur']}")

id orang: orang1
nama: Rizky
umur: 20
id orang: orang2
nama: Rahmad
umur: 19

In [1]:
# soal
data_limbah = {
    'lokasi1' : {
        'nama_lokasi' : 'area kota 1',
        'jumlah_limbah' : {
            'plastik' : 500,
            'organik' : 300,
            'logam' : 200
        }
    },

    'lokasi2' : {
        'nama_lokasi' : 'area kota 2',
        'jumlah_limbah' : {
            'plastik' : 700,
            'organik' : 400,
            'logam' : 250
        }
    },

    'lokasi3' : {
        'nama_lokasi' : 'area kota 3',
        'jumlah_limbah' : {
            'plastik' : 600,
            'organik' : 350,
            'logam' : 300
        }
    }
}

In [2]:
for lokasi, data in data_limbah.items():
    print(f"ID Lokasi: {lokasi}")
    print(f"Nama Lokasi: {data['nama_lokasi']}")

ID Lokasi: lokasi1
Nama Lokasi: area kota 1
ID Lokasi: lokasi2
Nama Lokasi: area kota 2
ID Lokasi: lokasi3
Nama Lokasi: area kota 3

In [3]:
jumlah_plastik_lokasi2 = data_limbah['lokasi2']['jumlah_limbah']['plastik']
print(f"Jumlah limbah plastik di lokasi 2: {jumlah_plastik_lokasi2}")

Jumlah limbah plastik di lokasi 2: 700

In [4]:
print(data_limbah['lokasi3']['nama_lokasi'])

area kota 3

In [5]:
for lokasi, data in data_limbah.items():
    total_organik_logam = data['jumlah_limbah']['organik'] + data['jumlah_limbah']['logam']
    print(f"Jumlah limbah organik dan logam di {data['nama_lokasi']}: {total_organik_logam}")

Jumlah limbah organik dan logam di area kota 1: 500
Jumlah limbah organik dan logam di area kota 2: 650
Jumlah limbah organik dan logam di area kota 3: 650